body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(8, 8, 8, 0.46), rgba(47, 48, 49, 0.46)),
    url(7.png) ;  
    background-size: 100%;
    font-size: 16px;
}
.men{
    background-color: black;
    position:fixed;
    width: 100%;
    height: 16%;
    font-family: 'Roboto', sans-serif;
}
.menu{
   background-color: black;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}
.h{
    position:fixed;
    margin-left: 32%;
    margin-top: 1%;
    background-color: black;
}
.hom{
    position:fixed;
    margin-top: 2%;
    margin-left: 36%;
    background-color: black;
}
.contact{
    position:fixed;
    margin-top: 2%;
    margin-left: 47%;
    background-color: black;
}
.to{
    position:fixed;
    margin-top: 0%;
    margin-left: 60%;
}
.rep{
    position:fixed;
    margin-top: 2%;
    margin-left: 73%;
    background-color: black;
}
.car{
    position:fixed;
    margin-top: 11px;
    margin-left: 86%;
    background-color: black;
}
.w{
    position:fixed;
    margin-top: 20px;
    margin-left: 92%;
    background-color: black;
}
#botton{
    color: white;
    padding: 10px 20px;
    border-radius:  4px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 rgb(3, 4, 54);
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#botton:hover{
    box-shadow: inset 10px 0 0 0 rgb(3, 4, 54);
    color: brown;
}
#imgh{
    overflow: hidden;
}
#imh{
    transition: 0.5s;
    object-fit: cover;
}
#imh:hover{
    transform: scale(1.2);
}
#zoom{
    transition: 0.5s;
    object-fit: cover;
}
#zoom:hover{
    transform: scale(1.2);
}
#mapa{
    width: 95%; /*ancho*/
    height: auto; /*alto*/
    overflow: hidden;
    padding: 20px;   
}
.contw{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 40%;
    bottom: 20px;
    right: 10px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.contw:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.botonw{
    width: 50px;
    transition: ease 1s;
}
input{
    border-radius:  4px;
    padding: 10px 20px;
}
.enviar{
    color: black;
    background-color: rgb(3, 136, 136);
}
.enviar:hover{
    box-shadow: inset 10px 0 0 0 rgb(3, 4, 54);
    background-color:#BE1E30 ;
}
p{
    color: #FFFFFF;
}
#infow{
    transition: 0.5s;
    object-fit: cover;
}
#infow:hover{
    transform: scale(1.2);
}
#infom{
    transition: 0.5s;
    object-fit: cover;
}
#infom:hover{
    transform: scale(1.2);
}
#infot{
    transition: 0.5s;
    object-fit: cover;
}
#infot:hover{
    transform: scale(1.2);
}
#infou{
    transition: 0.5s;
    object-fit: cover;
}
#infou:hover{
    transform: scale(1.2);
}#cont{
    text-align: right;
    margin-right: 60%;
}
.colorfond{
    background: #01010359;
}
.black:hover{
    background-color: #ffffff50;
    color: #FFFFFF;
}.black p{
    color: #FFFFFF;
}
.black h3{
    color: #FFFFFF;
}
p{
    color: #FFFFFF;
}
.contitembq{
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}
.contitembq ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
}
.contitembq li{
    list-style: none; 
    width: 100%;
    position: relative;
}
.contitembq img{
    width: 100%;
}
.texto2{
    text-align: center;
    position: absolute;
    padding:0 270px;
    top: 270px;
    background-color: #01010359 ;
}
.texto2 h2{
    font-family: 'Archivo', sans-serif;
    font-size: 50px;
    margin-bottom: 45px;
    color: #FFFFFF;
}
.texto2 p{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF ;
}
.link:hover{
    color: #010103;
}
.contenedor{
    width: 100%;
}
.contenedor figure{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    margin-left: 0%;
}
.contenedor figure video{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    background-color: #01010359;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}
.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa button{
    margin-top: 345px;
    margin-bottom: 67px;
}
.video:hover{
    background-color: #01010359;
}
.infor{
    padding: 10px 20px;
    border-radius:  4px;
    background-color: #BE1E30;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
p{
    color: #FFFFFF;
}
button{
    border: none;
    border-radius: 10px;
    padding: 38px 28px;
    font-size: 15px;
}
button:hover{
    background-color: #ffffff7e;
}
#watsr{
    cursor: pointer;
}
#wb{
    cursor: pointer;
}
#ubic{
    cursor: pointer;
}
#map{
    cursor: pointer;
}
#fb{
    cursor: pointer;
}
#facer{
    cursor: pointer;
}
#ib{
    cursor: pointer;
}
#igr{
    cursor: pointer;
}
#bottonh{
    color: white;
    padding: 0.625em 1.25em;
    border-radius:  0.25em;
    text-decoration: none;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#bottonh:hover{
    color: brown;
}
.hr{
    width: 100%;
    height: 1px;
    background: #BE1E30;
}
.divw{
    margin-left: -55%;
}
.divi{
    margin-left: -35%;
    margin-top: -10%;
}
.divf{
    margin-left: -15%;
    margin-top: -10%;
}
.divu{
    margin-left: 5%;
    margin-top: -10%;
}
.divt{
    margin-left: 26%;
    margin-top: -147px;
}
.divm{
    margin-left: 47%;
    margin-top: -161px;
}
.b{
    color:  #FFFFFF;
    font-family: 'Quicksand', sans-serif;
}
.tex{
    font-size: 50px;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
}
#div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px auto;
    padding: 30px;
    font-size: 14px;
    width: 100%;
    max-width:700px;
    box-sizing: border-box;
    border-radius: 10px;
}
label{
    font-size: 20px;
    padding: 10px 0px;
    color: blanchedalmond;
    text-shadow: 1px 1px 1px grey;
}
#sel{
    display: block;
    font-size: 24px;
    padding: 13px 0px;
    color: blanchedalmond;
    text-shadow: 1px 1px 1px grey;
}
input{
    padding: 10px 20px;
    border-radius:  4px;
}
select{
    padding: 10px 20px;
    border-radius:  4px;
}
textarea{
    padding: 49px 63px;
    border-radius:  5px;
}
input[type="submit"]{
    padding: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgb(82, 143, 143);
}
.coment{
    margin-left: 52%;
    margin-top: -54%;
    height: 60%;

}
.formu{
    margin-left: -37%;
    margin-top: -4%;
}
.env{
    margin-top: 5%;
}
.marcs{
    margin-top: -3%;
}
@media screen and (max-width: 500px) { 

    body{
        padding: 373px 0px 0;
    }
    .men{
        margin-top: -1%;
        height: 0%;
        width: 0%;
    }
    .menu{
        margin-top: -76%;
        margin-left: 0%;
        width: 100%;
        height: 25%;
    }
    .h{
        margin-top: -70%;
        margin-left: 45%;
    }
    .hom{
        margin-top: -68%;
        margin-left: 52%;
    }
    .contact{
        margin-top: -68%;
        margin-left: 69%;
    }
    .rep{
        margin-left: 42%;
        margin-top: -57%;
    }
    .to{
        margin-left: 70%;
        margin-top: -63%;
    }
    .car{
        margin-left: 0;
        margin-top: -57%;
    }
    .w{
        margin-left: 10%;
        margin-top: -57%;
    }
    .contitembq{
        margin-top: -52%;
    }
    .contitembq img{
        width: 480px;
        height: 440px;
    }
    .contitembq .texto2{
        width: 150%;
        background-color:#00000000;
    }
    .contitembq .texto2 h2{
        margin-left: 100%;
        
    }
    .divw{
        margin-left: -59%;
    }
    .divi{
        margin-left: -8%;
        margin-top: -28%;
    }
    .divf{
        margin-left: 43%;
        margin-top: -28%;
    }
    .divu{
        margin-left: -59%;
        margin-top: -3%;
    }
    .divt{
        margin-left: -6%;
        margin-top: -147px;

    }
    .formu{
        margin-left: -10%;
        margin-top: -4%;
    }
    .coment{
        margin-left: -9%;
        margin-top: 8%;
        height: 60%;
    }
    .env{
        margin-left: -6% ;
    }
    .contenedor figure .capa{
        top: 0;
        width: 100%;
        height: 99%;
        background-color: #01010359;
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
    }
    .marcimg{
        height: 380px;
    }
    
}
@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    100%{margin-left: -200%;} 
}